.kitchen-visualizer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kitchen-visualizer-logo {
  width: 80%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
/* .kitchen-visualizer-startform {
  width: 70%;
  height: 400px;
  margin-bottom: 40px;
  padding: 0px 30px;
  display: flex;
  border-radius: 20px;
  background-color: #00000080;
} */
/* .kitchen-visualizer-section {
  width: 50%;
  margin: 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .kitchen-visualizer-section span {
  font-weight: 600;
  font-size: 37px;
} */
/* .kitchen-visualizer-section div {
  font-size: 17px;
  margin-top: 25px;
  line-height: 25px;
} */
.kitchen-visualizer-startbtn {
  background-color: #ee2a2e;
  cursor: pointer;
  border-radius: 30px;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.release-wrapper {
  margin-top: 25px;
  background-color: #ee2a2e;
  padding: 0.01mm;
  padding-inline: 2%;
  border-radius: 10px;
  width: fit-content;
}

.release-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 5px;

  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  /* .kitchen-visualizer-section div {
    font-size: 16px;
    margin-top: 25px;
    line-height: 25px;
  } */
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* .kitchen-visualizer-startform {
    width: 85%;
    height: auto;
    padding: 100px 30px;
  } */
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  /* .kitchen-visualizer-startform {
    flex-direction: column;
    align-items: center;
  }
  .kitchen-visualizer-startform {
    width: 90%;
    height: auto;
    padding: 100px 0px;
  } */
  .kitchen-visualizer-section {
    /* width: 80%; */
  }
  /* .kitchen-visualizer-section span {
    font-size: 25px;
  } */
  .release-text {
    font-size: 14px;
    color: #ffffff;
    /* font-weight: bold; */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, */
    /* 1px 1px 0 #000; */
  }
  .kitchen-visualizer-container {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
  /* .kitchen-visualizer-startform {
    padding: 50px 0px;
  } */
  /* .kitchen-visualizer-section span {
    font-size: 18px;
  }
  .kitchen-visualizer-section div {
    font-size: 14px;
    margin-top: 20px;
    line-height: 22px;
  } */
}
