.kitchen-visualizer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kitchen-visualizer-logo {
  width: 80%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.release-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 5px;

  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .release-text {
    font-size: 14px;
    color: #ffffff;
  }
  .kitchen-visualizer-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
}
