.home-subscription-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F5;
    padding: 70px 0px;
    position: relative;
    overflow: hidden;
}
.home-subscribe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-subscription-header {
    text-align: center;
    font-weight: 600;
    font-family: "Gelasio", serif;
    font-size: 40px;
    width: 80%;
    margin: 35px 0px;
}
.home-subscript-input {
    width: 550px;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
}
.home-subscription-btn {
    /* width: 120px; */
    background-color: #EE2A2E;
    border: none;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 20px 30px;
    border-radius: 30px;
    margin-left: -40px;
    cursor: pointer;
    transition: 0.3s;
}
.home-subscription-btn:hover {
    transition: 0.3s;
    background-color: #a72022;

}
.home-subscrion-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .home-subscription-header {
        font-size: 25px;
        width: 80%;
        line-height: 40px;
    }
    .home-subscript-input {
        width: 200px;
    }
    .home-subscription-btn {
        width: 55px;
        height: 55px;
        padding: 0px;
        margin-left: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .home-subscription-header {
        font-size: 20px;
        width: 90%;
        line-height: 40px;
    }
    .home-subscription-container {
        padding: 30px 0px;
    }
}