.businesshour-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000084;
    padding: 15px 0px;
}
.businesshour-row div{
    font-size: 22px;
}
.business-time {
    display: flex;
    justify-content: center;
    align-items: center;
}
.business-time  div {
    margin: 0px 10px;
}
.business-timing {
    width: 300px;
}
.businesshours-img {
    border-radius: 30px;
    display: flex;
    width: 35%;
    object-fit: cover; 
    height: auto;
}


@media screen and (max-width: 1440px) and (min-width: 425px) {
    .businesshour-row div{
        font-size: 17px;
    }
}


@media screen and (max-width: 435px) and (min-width: 320px) {
    .business-time  div {
        font-size: 17px;
    }
    .businesshour-row div {
        font-size: 15px;
        margin-left: 15px;
    }

    
    .businesshours-img {
        border-radius: 30px;
        width: 100%; 
        height: auto; 
    }
    
}