.ourmission-container {
  width: 100%;
  /* margin-bottom: 10px; */
}
.ourmission-heading {
  font-size: 50px;
  font-family: "Gelasio", serif;
  font-weight: 600;
}
.ourmission-subcontainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
.warranty-notcover {
  margin: 0px !important;
  margin-top: 50px !important;
}
.ourmission-innercontainer {
  /* width: 49%; */
  line-height: 32px;
  font-size: 20px;
 
}
.ourmission-image-update {
  width: 100%;
  border-radius: 30px;
  height: fit-content;
}

.ourmission-image {
  width: 100%;
  border-radius: 30px;
  height: fit-content;
}

.ourmission-image-warranty {
  width: 210%;
  border-radius: 30px;
  height: fit-content;
}
.ourmission-details {
  /* width: 100%;  */
  text-align: start;
  line-height: 22px;
  
}

@media screen and (max-width: 435px) and (min-width: 320px) {
  .ourmission-heading {
    font-size: 35px !important;
    text-align: center;
  }
  .ourmission-details {
    /* width: 100%;  */
    margin-top: 20px;
  }
  .ourmission-subcontainer {
    flex-direction: column !important;
  }
  .ourmission-innercontainer{
    
    line-height: 35px;
    font-size: 17px !important;
    margin-bottom: 50px;
  }

  .ourmission-image {
    width: 100%;
    border-radius: 30px;
    height: fit-content;
  }
  .ourmission-image-update {
    width: 182%;
    border-radius: 30px;
    height: fit-content;
  }
  .ourmission-image-warranty {
    width: 100%;
    border-radius: 30px;
    height: fit-content;
  }
  
}