.reorganize_container {
  width: 100%;
  margin: 120px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reorganize-imagecontainer {
  width: 90%;
  height: 700px;
  background-image: url("../../../../public/images/cover/reorganize_industry.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
}
.reorganize-subcontainer {
  width: 38%;
  color: white;
  height: 700px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.reorganize-heading {
  font-size: 40px;
  font-family: "Gelasio", serif;
  font-weight: 600;
  line-height: 55px;
  width: 350px;
}
.reorganize-desc {
  margin-top: 25px;
  line-height: 30px;
  font-size: 20px;
}
.reorganize-getstarted {
  background-color: #ee2a2e;
  color: white;
  padding: 20px 50px;
  border-radius: 35px;
  margin-top: 25px;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.reorganize-getstarted:hover {
  background-color: #ba2123;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) and (min-width: 756px) {
  .reorganize-subcontainer {
    width: 55% !important;
    margin-right: 15px;
  }
}

