.product-infocontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.switch-container {
    width: 210px;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-infosub {
    width: 45%;
    height: 770px;
    margin-left: 60px;
    overflow: hidden;
}
.product-infosub img {
    width: 800px;
}
.product-profilename {
    font-size: 60px;
    font-weight: 600;
    font-family: "Gelasio", serif;
}
.product-profilesubtitle {
    font-size: 20px;
    margin: 10px 0px;
}
.product-descriptionheading {
    font-size: 24px;
    margin: 30px 0px;
    font-weight: 600;
}
.product-description {
    font-size: 20px;
    width: 80%;
    line-height: 30px;
}
.flex-row {
    display: flex;
}
.finishes-details {
    width: 270px;
    margin-right: 50px;
}
.finishes-details div{
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0px;
}
.finishes-details span {
    font-size: 20px;
    line-height: 35px;
}
.product-innerimage {
    width: 100%;
    height: 700px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.product-desc-span {
    font-size: 20px;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .product-infocontainer {
        flex-direction: column;
    }
    .product-infosub {
        width: 90%;
        height: auto;
        margin-top: 40px;
        margin-left: 0px;
        overflow: hidden;
        /* border-radius: 30px; */
    }
    .product-innerimage {
        height: 400px;
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .product-infosub {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 320px) {
    .product-descriptionheading {
        font-size: 20px;
        margin: 20px 0px;
    }
    .product-description {
        font-size: 16px !important;
    }
    .finishes-details div{
        font-size: 18px;
    }
    .finishes-details span {
        font-size: 16px;
    }
    .product-desc-span {
        font-size: 16px;
    }
  }


@media screen and (max-width: 768px) and (min-width: 320px) {
    .product-profilename {
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .product-profilename {
        font-size: 40px;
    }
    .product-infocontainer {
        margin-top: 0px;
    }
}