.choosecolor-container {
    width: 100%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.choosecolor-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.75);
}
.choosecolor-innercontainer {
    width: 26%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}
.choosecolor-innercontainer2 {
    width: 74%;
    height: 100vh;
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choosecolor-innercontainer3 {
    width: 74%;
    height: 100vh;
    right: 0;
    z-index: -1;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choosecolor-cover {
    width: 90%;
    margin-top: 10px;
}
.choosecolor-bgncontainer {
    display: flex;
    margin-top: 50px;
}
.choosecolor-btn-active {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #EE2A2E;
    color: white;
    border-radius: 35px;
    margin: 2px;
}
.choosecolor-btn {
    padding: 15px 30px;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 35px;
    font-weight: 600;
}
.choosecolor-sel-container {
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.choosecolor-amb-container {
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choosecolor-palete-container {
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.choosecolor-palate {
    text-align: center;
    width: 30%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choosecolor-palatetext {
    margin: 15px;
}
.choosecolor-selectcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0px;
}
.choosecolor-selectcontainer div {
    font-size: 22px;
    font-weight: 600;
}
.choosecolor-selectcontainer input {
    width: 200px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0px;
}
.choosecolor-topcontainer {
    display: flex;
    margin-top: 20px;
}
.choosecolor-palate-top {
    width: 35%;
    margin-left: 15px;
}
.choosecolor-ambients-container {
    width: 100%;
    cursor: pointer;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.choosecolor-palate-b {
    height: 50px;
    margin-top: 15px;
}
.choosecolor-newcontainer {
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
}
.choosecolor-comingsoon {
    position: absolute;
    color: white;
    z-index: 1;
    border-radius: 25px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .choosecolor-selectcontainer div {
        font-size: 16px;
    }
    .choosecolor-palate-b {
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1335px) and (min-width: 1024px) {
    .choosecolor-palete-container {
        width: 80px;
        height: 80px;
    }
    .choosecolor-palate-b {
        font-size: 13px;
    }
    .choosecolor-palate {
        width: 27%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .choosecolor-container {
        flex-direction: column-reverse;
        height: auto;
    }
    .choosecolor-innercontainer {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    .choosecolor-innercontainer2 {
        width: 100%;
        height: 400px;
    }
    .choosecolor-selectcontainer input {
        width: 150px;
        border: none;
        border-bottom: 1px solid gray;
        padding: 0px;
    }
}